---
language: python
python: "2.7"

# Use the new container infrastructure
sudo: true

# Install ansible
addons:
  apt:
    packages:
    - python-pip

install:
  # Install ansible
  - pip install ansible

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../\nhost_key_checking = False' >ansible.cfg

script:
  # Basic role syntax check
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check
  # Execute playbook
  - ansible-playbook -i tests/inventory tests/test.yml

#notifications:
#  webhooks: https://galaxy.ansible.com/api/v1/notifications/