---

  - name: Install necessary software packages
    become: yes
    apt:
      name: "{{ item }}"
      state: latest
      update_cache: yes
    with_items:
      - build-essential
      - git
      - openssl
      - pigpio
