---

  - name: Install necessary software packages
    become: yes
    apt:
      name: "{{ item.name }}"
      state: latest
      update_cache: yes
    with_items:
      - { name: "build-essential", install: true }
      - { name: "git", install: true }
      - { name: "openssl", install: true }
      - { name: "pigpio", install: "{{ pimatic_install_pigpio }}" }
    when: item.install == true
